*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: whitesmoke;
}
#logo{
    width: 110px;
    height: 40px;
}
#cabecalho-1, #cabecalho-2{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}
#cabecalho-1{
    display: flex;
    justify-content: space-evenly;
    background-color: #040e1c;
    color: white;
}
#cabecalho-2{
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color: #1e1f36;
    padding: 1%;

}
#send{
    width: 7%;
    height: 45px;
    background-image: url(./img/64e14fe0195557e3f18ea3becba3169b-lupa-de-pesquisa.png);
    background-position: center;
    background-size: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-repeat: no-repeat;
    background-color: rgb(227, 140, 33);
}
#search-line{
    display: flex;
    flex-direction: row;
    padding-bottom: 0,5%;
}
#search-bar{
    height: 40px;
    width: 70%;
}
#filter{
    width: 20%;
    height: 43px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
form{
    width: 700px;
    display: flex;
    align-items: center;
}
a:link {
    text-decoration: none;
    
}
a:-webkit-any-link {
    color: white;
}
#menu-bar{
    padding-right: 10px;
}
#nav-menu-bar{
    display: flex;
    gap: 10px;
}
.blocks{
    width: 23%;
    height: 280px;
    display: flex;
    background-color: white;
    margin: 1%;
    flex-direction: column;
}
#first-guide{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#announcement{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 100px;
    background-color: white;
    margin: 1%;
}
#guide-button{
    width: 80%;
    background-color: yellow;
}